.password-page{
    display: flex;
    width: 80%;
    margin-left: 20%;
}
.password-left-container{
    width: 50%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.password-left-container button{
    width: 50%;
    margin: 0px 2px;
}
.password-left-container button:hover{
    background-color: #252525;
    transition: all 1s;

}

.passwords{
    margin: 50px 10px;

}
.password-description{
        width: 500px;
        cursor: pointer;
        padding: 10px;
        margin: 5px 0px;
        border-bottom: 1px solid #ccc;
        background-color: whitesmoke;
    
    

}
.popup-content{
    position: absolute;
    bottom: 15%;
    width: 500px;
    background-color: whitesmoke;
    z-index: 999;
    backface-visibility: hidden;
    padding: 10px 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.482);
}
.popup-header{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    color: #1d3557;
    
}
.popup-header button{
    width: 200px;
    padding: 5px;
    color: white;
    background-color: #252525;
    border: none;
}
.popup-body{
    display:flex;
    justify-content: space-between;
    margin: 5px 0px;
    color: #1d3557;
}
.popup-body button{
    width: 200px;
    padding: 5px;
    color: white;
    background-color: #252525;
    border: none;
}